/node_modules
/public/hot
/public/image/user
/public/user
/public/storage
/public/AdminLTE-3.0.5
/public/bootstrap-4.6.2
/storage/*.key
/vendor
/public/js/chunks

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
