@font-face {
    font-family: 'Titillium Web';
    src: local('/fonts'), url('/fonts/titillium-web-v8-latin-regular.woff') format("woff"), url('/fonts/titillium-web-v8-latin-regular.woff2') format("woff2");
}

.mt-6, .my-6 {
    margin-top: 4rem !important;
}

.custom-switch {
    padding-left: 2.25rem;
    padding-bottom: 1rem;
    /* added for positioning*/
}

.position-inherit {
    position: inherit;
}

.menu-pad-title {
    position: absolute;
    top: -42px;
    z-index: 100;
    left: 20px;
}
/*
Full screen Modal
*/
.fullscreen-modal .modal-dialog {
    margin: 0;

    width: 100vw;
    height:100vh;
  }
.fullscreen-modal .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
    outline: 0;
    height: 100vh;
}
.pt-6, .py-6 {
    padding-top: 4rem !important;
}


.card-area {
    display: flex;
    cursor: pointer !important;
    background-color: #f5f2f2;
    color: var(--secondary);

    align-content: center;
    justify-content: center;
    align-items: center;
}
.card-area .card-area-image,
.card-area .card-area-title{


    color:var(--primary);
    white-space: nowrap;

}
.card-area .card-area-image{
    font-size: 4em;
    /*border: 1px solid red;*/


}
.card-area .card-area-title{
    font-weight: 600;
}
.card-area .card-area-text{
    border-radius: 50rem !important;
    background-color: #e6e1e1;
    /*padding: 0% 5% 0% 5%;*/
    /*margin: 0% 10% 0% 10%;*/
}
.card-area:hover {
    color:var(--white) !important;
    background-color: var(--primary) !important;
}
a {
    color: var(--primary);
    text-decoration: none;
    background-color: transparent;
}
.card-area:hover .card-area-image{
    -webkit-animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both;
    animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both
}
.card-area:hover .card-area-image,
.card-area:hover .card-area-title {
    color:var(--white) !important;
}
.card-area:hover .card-area-text {
    background-color:var(--light);
    color:var(--primary);
}



.custom-control-label {
    /* added for alignment with the switch*/
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-bottom: 0.1rem;
}

.menu-nivel-1 {
    top: -0.1em !important;
    height: 3em;
}

.menu-nivel-2 {
    padding: 0.3em;
    top: 2.9em;
    background-color: var(--white);
    height: 3.5em !important;
}

.menu-nivel-3 {
    height: 2.7em;
    top: 6.2em;
    color: var(--secondary) !important;
    text-align: center;
    background-color: #f5f5f5 !important;
    padding: 0.5rem !important;
}

.menu-nivel-4 {
    background-color: var(--gray);
    text-align: center;
    padding: 0.5rem !important;
    top: 8.8em;
    color: var(--secondary) !important
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    height: 2rem;
    width: 3.5rem;
    /* it was 1.75rem before. Sliding way is longer than before.*/
    pointer-events: all;
    border-radius: 1rem;
}

@media (prefers-reduced-motion: reduce) {
    .custom-switch .custom-control-label::after {
        transition: none;
    }
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    -webkit-transform: translateX(1.5rem);
    /*translateX(0.75rem)*/
    ;
    transform: translateX(1.5rem);
    /*translateX(0.75rem)*/
    ;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ffffff;
    background-color: #dc3545;
}

.custom-switch .custom-control-label::after {
    top: calc(0.25rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    background-color: var(--primary);

    border-radius: 1.5rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.btn-close-modal {
    position: absolute;
    right: -45px;
    font-size: 4em;
    color: var(--white);
    top: -15px;
}

.close:hover, .mailbox-attachment-close:hover {
    color: #ffffff;
    text-decoration: none;
}

.display-5 {
    font-size: 2rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

body {
    margin: 0;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/titillium-web-v8-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url('/fonts/titillium-web-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/titillium-web-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/titillium-web-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/titillium-web-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/titillium-web-v8-latin-regular.svg#TitilliumWeb') format('svg');
    /* Legacy iOS */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #ffffff;
}

.text-white {
    color: #ffffff !important;
}

.label-valoracion {
    /*color:grey;*/
}

.input-valoracion {
    display: none;
}

.label-valoracion:hover {
    color: orange;
}

.label-valoracion:hover~.label-valoracion {
    color: orange;
}

.clasificacion-valoracion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

input[type="radio"]:checked~label {
    color: orange;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
.page-item.active .page-link {
    z-index: 3;
    color: #ffffff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--primary);
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}
.swal2-container {
    display: flex;
    position: fixed;
    z-index: 200000000 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    transition: background-color .1s;
    -webkit-overflow-scrolling: touch;
}


/******/
.dt-buttons > .dt-button {
    color: #1F2D3D;
    background-color: #f8f9fa;

    box-shadow: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: 1px solid #f8f9fa;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.dt-button:hover {
    color: #1F2D3D;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
/******/
.fade-in-fwd{-webkit-animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-fwd 1s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-fwd{0%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
.scale-down-center:hover {
    cursor: pointer;
    -webkit-animation: scale-down-center .4s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-down-center .4s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8)
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8)
    }
}
a.text-primary:hover, a.text-primary:focus {
    color: var(--success) !important;
}
.scale-up-ver-top{-webkit-animation:scale-up-ver-top .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-ver-top .4s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes scale-up-ver-top{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}@keyframes scale-up-ver-top{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}
.slide-in-right {
    -webkit-animation: slide-in-right .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-right .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.text-shadow-pop-tl:hover {
    -webkit-animation: text-shadow-pop-tl .6s both;
    animation: text-shadow-pop-tl .6s both
}

@-webkit-keyframes text-shadow-drop-tl {
    0% {
        text-shadow: 0 0 0 rgba(5, 1, 250, 0.3);
    }
    100% {
        text-shadow: -3px -3px 9px rgba(5, 1, 250, 0.3);
    }
}

.text-shadow-drop-bottom:hover {
    -webkit-animation: text-shadow-drop-bottom .6s both;
    animation: text-shadow-drop-bottom .6s both
}

@-webkit-keyframes text-shadow-drop-bottom {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: 0 6px 18px rgba(0, 0, 0, .35)
    }
}

@keyframes text-shadow-drop-bottom {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: 0 6px 18px rgba(0, 0, 0, .35)
    }
}

.cursor-pointer {
    cursor: pointer;
}

.btn-gray {
    color: #313131;
    background-color: var(--gray);
    border-color: var(--gray);
    box-shadow: none;
}
.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.burbuja {
    width: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 2;
    font-size: 1em;
    font-weight: bold;
    color: var(--primary) !important;
    border-radius: 32px;
}
.iti--container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 10000000000000000000000 !important;
    padding: 1px;
}
.column-evolucion {
    /*width: max-content;*/
    height: 39vh !important;
    overflow: auto;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(2.7rem + 1px) !important;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Subir";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}
.navbar-v2{
    border-radius: 50px;
    margin: 1vh;
    height: 7vh;
}
button.cerrar {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cerrar{
    float: right !important;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 1 !important;
}
.modal-fullscreen {
    width: 100vw;
    max-width: none;
    margin: 0;
}
.modal-fullscreen > .modal-content > .modal-header > .modal-title{
    margin-bottom: 0;
    line-height: 2.5;
    position: absolute;
    font-size: 1.3em;
}

.modal-fullscreen > .modal-content > .modal-header{
    display: block;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #e9ecef !important;
    /*border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;*/
    background-color: var(--primary);
    color:var(--white);
    border-radius: 50px;
    margin: 0.5%;
}
.modal-fullscreen > .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.2);

    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
    outline: 0;
    height: 100vh;
    background-color: var(--light);
}
.modal-fullscreen > div.modal-content > div.modal-body {
    overflow: auto !important;
    position: relative !important;
    flex: 1 1 auto !important;
    padding: 0.5rem !important;
    height: 93vh !important;
    background-color: var(--light);
}
.modal-fullscreen > div.modal-content > div.modal-body > .botones-bottom-modal{
    bottom: 10px;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0.5% 1% 0% 1%;
    box-sizing: border-box;
    background-color: var(--light);
}
.modal-fs-modal-footer{
    bottom: 10px;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    padding: 0.5% 1% 0% 1%;
    box-sizing: border-box;
    background-color: var(--light);
}
.bg-transparent {
    background-color: transparent;
}
.btn-transparent {
    background-color: transparent;
    color: #444;
}
.carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus {
    color: var(--secondary);
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
    background-color: var(--gray);
    transition-delay:1s;
}
a:hover {
    color: var(--primary);
    text-decoration: none;
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    font-size: 2em;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5vw;
    color: #ffffff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    height: 100%;

}
.badge-custom {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: x-small;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.rounded-custom {
    border-radius: 1rem !important;
}
.filtroBuscador{
    font-size: 0px;
}
.border-right-2{
    border-right: 2px solid #bebcbc !important;
}
.justify-content-evenly {

    justify-content: space-evenly;
}
.badge-primary {
    color: #ffffff;
    background-color: var(--primary);
}
.badge-orange {
    color: #ffffff;
    background-color: var(--orange);
}
.badge-purple {
    color: #ffffff;
    background-color: var(--purple);
}
.btn-small-custom{
    padding: 0% 1% 0% 1%;
    font-size: x-small;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.scale-up-top:active {
    -webkit-animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(3);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0
    }
}

.heartbeat:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    10% {
        -webkit-transform: scale(.91);
        transform: scale(.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    17% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    33% {
        -webkit-transform: scale(.87);
        transform: scale(.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    10% {
        -webkit-transform: scale(.91);
        transform: scale(.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    17% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    33% {
        -webkit-transform: scale(.87);
        transform: scale(.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

.label-text {
    font-size: 1.5em !important;
    font-weight: 400 !important;
}

.modal-body-2 {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-header {
    display: -ms-flexbox;
    display: block;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-lg-90, .modal-xl-90 {
    max-width: 90% !important;
}

/* Preload */

#precarga {
    z-index: 9999;
}
.icon-blue_code{

    font-size:3em;
    text-align: center;
}




.badge-gray {
    color: #ffffff;
    background-color: var(--gray) !important;
}

.bg-gray {
    background-color: #bebcbc !important;
    color: black !important;
}
.bg-cyan {
    background-color: var(--cyan);
    color: black !important;
}
.badge-cyan {
    color: black !important;
    background-color: var(--cyan);
}
.text-info {
    color: var(--info) !important;
}
.badge-info {
    color: #ffffff;
    background-color: var(--info);
}
.bg-light {
    background-color: var(--light) !important;
}

.main-header {
    border-bottom: 0px solid #dee2e6 !important;
    z-index: 1034;
}

.bg-gray-footer-parodi {
    background-color: #E0E0E0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: var(--success);
}

.box-cie11 {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    max-height: 50vh;
    background-color: var(--white);
}

.tippy-box[data-theme~='tooltip-cmdlt-primary'] {
    background-color: var(--primary);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-primary'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--primary);
}

.tippy-box[data-theme~='tooltip-cmdlt-primary'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--primary);
}

.tippy-box[data-theme~='tooltip-cmdlt-primary'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--primary);
}

.tippy-box[data-theme~='tooltip-cmdlt-primary'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--primary);
}

.tippy-box[data-theme~='tooltip-cmdlt-success'] {
    background-color: var(--success);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-success'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--success);
}

.tippy-box[data-theme~='tooltip-cmdlt-success'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--success);
}

.tippy-box[data-theme~='tooltip-cmdlt-success'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--success);
}

.tippy-box[data-theme~='tooltip-cmdlt-success'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--success);
}

.tippy-box[data-theme~='tooltip-cmdlt-danger'] {
    background-color: var(--danger);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-danger'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--danger);
}

.tippy-box[data-theme~='tooltip-cmdlt-danger'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--danger);
}

.tippy-box[data-theme~='tooltip-cmdlt-danger'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--danger);
}

.tippy-box[data-theme~='tooltip-cmdlt-danger'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--success);
}

.tippy-box[data-theme~='tooltip-cmdlt-danger-2'] {
    background-color: #F78181;
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-danger-2'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #F78181;
}

.tippy-box[data-theme~='tooltip-cmdlt-danger-2'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #F78181;
}

.tippy-box[data-theme~='tooltip-cmdlt-danger-2'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #F78181;
}

.tippy-box[data-theme~='tooltip-cmdlt-danger-2'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #F78181;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray'] {
    background-color: #C4C4C4;
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray-primary'] {
    background-color: #C4C4C4;
    color: var(--primary);
}

.tippy-box[data-theme~='tooltip-cmdlt-gray-primary'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray-primary'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray-primary'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-gray-primary'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #C4C4C4;
}

.tippy-box[data-theme~='tooltip-cmdlt-cyan'] {
    background-color: #00AAFF;
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-cyan'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #00AAFF;
}

.tippy-box[data-theme~='tooltip-cmdlt-cyan'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #00AAFF;
}

.tippy-box[data-theme~='tooltip-cmdlt-cyan'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #00AAFF;
}

.tippy-box[data-theme~='tooltip-cmdlt-cyan'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #00AAFF;
}

.tippy-box[data-theme~='tooltip-cmdlt-warning'] {
    background-color: var(--warning);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-warning'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--warning);
}

.tippy-box[data-theme~='tooltip-cmdlt-warning'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--warning);
}

.tippy-box[data-theme~='tooltip-cmdlt-warning'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--warning);
}

.tippy-box[data-theme~='tooltip-cmdlt-warning'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--warning);
}

.tippy-box[data-theme~='tooltip-cmdlt-secondary'] {
    background-color: var(--secondary);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-secondary'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--secondary);
}

.tippy-box[data-theme~='tooltip-cmdlt-secondary'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--secondary);
}

.tippy-box[data-theme~='tooltip-cmdlt-secondary'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--secondary);
}

.tippy-box[data-theme~='tooltip-cmdlt-secondary'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--secondary);
}

.tippy-box[data-theme~='tooltip-cmdlt-info'] {
    background-color: var(--info);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-info'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--info);
}

.tippy-box[data-theme~='tooltip-cmdlt-info'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--info);
}

.tippy-box[data-theme~='tooltip-cmdlt-info'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--info);
}

.tippy-box[data-theme~='tooltip-cmdlt-info'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--info);
}
.tippy-box[data-theme~='tooltip-cmdlt-purple'] {
    background-color: var(--purple);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-purple'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--purple);
}

.tippy-box[data-theme~='tooltip-cmdlt-purple'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--purple);
}

.tippy-box[data-theme~='tooltip-cmdlt-purple'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--purple);
}

.tippy-box[data-theme~='tooltip-cmdlt-purple'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--purple);
}
.tippy-box[data-theme~='tooltip-cmdlt-orange'] {
    background-color: var(--orange);
    color: white;
}

.tippy-box[data-theme~='tooltip-cmdlt-orange'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--orange);
}

.tippy-box[data-theme~='tooltip-cmdlt-orange'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--orange);
}

.tippy-box[data-theme~='tooltip-cmdlt-orange'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--orange);
}

.tippy-box[data-theme~='tooltip-cmdlt-orange'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--orange);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Subir";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.fade-out {
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.border-primary {
    border-color: var(--primary) !important;
}
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}
.btn-outline-purple {
    color: var(--purple);
    border-color: var(--purple);
}
.btn-outline-purple:hover {
    color: var(--white);
    background-color:var(--purple);
    border-color: var(--purple);
}
.btn-outline-orange {
    color: var(--orange);
    border-color: var(--orange);
}
.btn-outline-orange:hover {
    color: var(--white);
    background-color:var(--orange);
    border-color: var(--orange);
}

.slide-out-bck-center {
    -webkit-animation: slide-out-bck-center 2s ease-in-out both;
    animation: slide-out-bck-center 2s ease-in-out both
}

@-webkit-keyframes slide-out-bck-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateZ(-1100px);
        transform: translateZ(-1100px);
        opacity: 0
    }
}

@keyframes slide-out-bck-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateZ(-1100px);
        transform: translateZ(-1100px);
        opacity: 0
    }
}
.bg-info {
    background-color: var(--info) !important;
}
.text-info-disabled {
    color: var(--info) !important;
    opacity: 0.2;
}
.bg-orange, .bg-orange>a {
    color: var(--white) !important;
}
.cajamedico{
    display           : none;
    position          : absolute !important;
    z-index           : 2000;
    max-height        : 24em;
    background        : var(--white);
    right             : 15em;
    width             : 25em;
    border            : 1px solid var(--light);
    top               : 0;
    -webkit-box-shadow: 4px 5px 7px -2px var(--secondary);
    box-shadow        : 4px 5px 7px -2px var(--secondary);
}
.btn-save-medico {
    display: inline-block;
    font-weight: 400;
    color: var(--success);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select-1:hover {
    background-color: var(--light) !important;
    border: 1px solid var(--light) !important;
}

button :focus, input :focus, select:focus {
    outline: none !important;
}

.custom-select-1 {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + -8px);
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 0.25rem;
    box-shadow: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.medico-select:hover {
    background-color: var(--gray) i !important;
    color: var(--primary) i !important;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 80% !important;
    }
    .tbl_info_paciente {
        width: 100% !important;
    }
    #tablapacientes {
        min-width: 1400px !important;
    }
}

@media (max-width: 1272px) {
    #btn_paciente_create {
        position: relative !important;
    }
}

@media (max-width: 575px) {

    .modal-dialog {
        margin-right: 15% !important;
    }
    .opciones {
        display: block;
    }
    .historia-right {
        display: none;
    }
}

@media (max-width: 768px) {
    .botones-bottom-modal {

        position: relative !important;

    }
    .main-header {
        position: relative;
    }
}

@media (min-width: 576px) {
    .opciones {
        display: none;
    }
}

html, body {
    font-family: 'Titillium Web', sans-serif !important;
    /*font-size: 1.1rem;*/
}

.tooltip.bs-tooltip-bottom .tooltip-inner {
    background: var(--primary) !important;
}

.tooltip .arrow:before {
    border-bottom-color: var(--primary) !important;
    border-top-color: var(--primary) !important;
}

.width-full {
    width: 100% !important;
}

.timeline>.time-label>span {
    border-radius: 4px;
    background-color: #ffffff;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
    font-size: 0.5em;
}

.bg-primary.btn:hover {
    border-color: #0062cc;
    border-top-color: rgb(0, 98, 204);
    border-right-color: rgb(0, 98, 204);
    border-bottom-color: rgb(0, 98, 204);
    border-left-color: rgb(0, 98, 204);
    color: #ececec !important;
}

.zoom {
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    /* Firefox */
    -webkit-transition: 0.5s ease;
    /* Chrome - Safari */
    -o-transition: 0.5s ease;
    /* Opera */
}

.zoom:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    /* Firefox */
    -webkit-transform: scale(1.1);
    /* Chrome - Safari */
    -o-transform: scale(1.1);
    /* Opera */
    -ms-transform: scale(1.1);
    /* IE9 */
}

.width-100 {
    width: 100% !important;
}

.titulo {
    font-size: 1.5em;
}

.texto {
    font-size: 1.1em;
}

.bg-gray-2 {
    background-color: #e7e8e8b3 !important;
}

.sombra-secondary:hover {
    -webkit-box-shadow: 10px 10px 47px -2px rgba(90, 98, 104, 1);
    -moz-box-shadow: 10px 10px 47px -2px rgba(90, 98, 104, 1);
    box-shadow: 10px 10px 47px -2px rgba(90, 98, 104, 1);
}

.img-laboratorio {
    background: url('image/system/carga1.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    position: absolute;
    right: 10px;
}

.img-laboratorio:hover {
    background: url('image/system/carga1-success.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    float: right;
    transition: opacity 1.5s ease-in-out;
}

.img-fotografia {
    background: url('image/system/carga3.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    position: absolute;
    right: 60px;
}

.img-fotografia:hover {
    background: url('image/system/carga3-success.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    float: right;
    transition: opacity 1.5s ease-in-out;
}

.img-estudio {
    background: url('image/system/carga2.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    position: absolute;
    right: 10px;
}

.img-estudio:hover {
    background: url('image/system/carga2-success.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    float: right;
    transition: opacity 1.5s ease-in-out;
}

.img-otro-archivo {
    background: url('image/system/carga5.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    position: absolute;
    right: 10px;
    bottom: 60px;
}

.img-otro-archivo:hover {
    background: url('image/system/carga5-success.svg') no-repeat;
    cursor: pointer;
    height: 2em;
    width: 2em;
    float: right;
    transition: opacity 1.5s ease-in-out;
}

.title-columna {
    font-size: 0.5em;
}

@media (max-width: 768px) {
    .evolucion-right {
        display: none;
    }
    .div_btn_add_seguimiento {
        display: none;
    }
    .div_btn_add_evolucion {
        display: block;
    }
    .modal2-header, .modal2-footer {
        position: inherit !important;
    }
}

@media (min-width: 769px) {
    .title-columna {
        display: none;
    }
    .div_btn_add_evolucion {
        display: none;
    }
    .modal2-header, .modal2-footer {
        position: sticky !important;
    }
}

@media (max-width: 1160px) {
    .img-laboratorio, .img-fotografia, .img-estudio, .img-otro-archivo {
        position: inherit;
        width: 50px;
        display: inline-block;
    }
}

@media (min-width: 1161px) {
    .img-laboratorio {
        top: -2px;
    }
    .img-otro-archivo {
        top: 310px;
    }
    .img-fotografia, .img-estudio {
        top: 147px;
    }
}

.ping {
    -webkit-animation: ping 2s ease-in-out infinite both;
    animation: ping 2s ease-in-out infinite both
}

@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0
    }
}

@keyframes ping {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0
    }
}

.text-shadow-drop-center {
    -webkit-animation: text-shadow-drop-center 2s infinite both;
    animation: text-shadow-drop-center 2s infinite both
}

@-webkit-keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: 0 0 18px rgba(0, 0, 0, .35)
    }
}

@keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: 0 0 18px rgba(0, 0, 0, .35)
    }
}

.ping-2 {
    -webkit-animation: ping .5s ease-in-out infinite both;
    animation: ping .5s ease-in-out infinite both
}

@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0
    }
}

@keyframes ping {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
        opacity: .8
    }
    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0
    }
}

.text-shadow-drop-center-2 {
    -webkit-animation: text-shadow-drop-center-2 .5s infinite both;
    animation: text-shadow-drop-center-2 .5s infinite both
}

@-webkit-keyframes text-shadow-drop-center-2 {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: 0 0 18px rgba(0, 0, 0, .35)
    }
}

@keyframes text-shadow-drop-center-2 {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: 0 0 18px rgba(0, 0, 0, .35)
    }
}


.content-wrapper {
    min-height: calc(100vh - 157px) !important;
}

.card.card-especialista {
    background-color: #f5f2f2;
}

.card-especialista:hover {
    cursor: pointer !important;
    background-color: var(--light) !important;
}

.scale-in-hor-left {
    -webkit-animation: scale-in-hor-left .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-hor-left .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
}

@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
}



.select2-container--default.select2-container--open .select2-selection--single {
    /* border-color: #80bdff; */
    border: 0 !important;
    color: var(--gray) !important;
    background-color: var(--light) !important;
}



.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
    color: var(--primary) !important;
}
.select2-container--default.select2-container--open .select2-selection--single {
    /* border-color: #80bdff; */
    border: 0 !important;
    color: var(--gray) !important;
    background-color: #ffffff !important;
}
.select2-container--default .select2-selection--single {
    border: 0 !important;
    color: var(--gray) !important;
    background-color: #ffffff !important;
}
.select2-container {
    box-sizing: border-box !important;
    display: inline-block !important;
    margin: 0 !important;
    vertical-align: middle !important;
    display: inline-block !important;
    width: 20em !important;
    height: calc(2.25rem + 2px) !important;
    padding: 0 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #ffffff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    box-shadow: inset 0 0 0 rgb(0 0 0 / 0%) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 11111111 !important;
}
.botones-bottom-modal{
    bottom: 10px;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    padding: 0% 1% 0% 1%;
    box-sizing: border-box;
}


.select2-container--default.select2-container--focus
.select2-selection--single,
.select2-container--default.select2-container--focus
.select2-selection--multiple {
    /* border-color: #80bdff; */
    border: 0 !important;
    color: var(--gray) !important;
    background-color: var(--white) !important;
}
.encuesta-pregunta{
    height: max-content;
    display:flex;
    align-items: center !important;
    color:var(--secondary);
    font-size: 1.2rem;
    overflow: auto;
    padding-right: 1rem;
}
.nav-pills .nav-link:not(.active):hover {
    color: var(--primary);
}
.bd-callout-number {
    width: 2em;
    height: 2em;

    background-color: #f3eeee;
    color: var(--primary);
    text-align: center;

    font-weight: 600;
    align-items: center;

    justify-content: center;
    font-size: 1.2rem;
}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
    }

    .bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
    }

    .bd-callout p:last-child {
    margin-bottom: 0
    }

    .bd-callout code {
    border-radius: .25rem
    }

    .bd-callout+.bd-callout {
    margin-top: -.25rem
    }

    .bd-callout-info {
    border-left-color: var(--info)
    }

    .bd-callout-info h4 {
    color: var(--info)
    }

    .bd-callout-warning {
    border-left-color: var(--warning)
    }

    .bd-callout-warning h4 {
    color: var(--warning)
    }

    .bd-callout-danger {
    border-left-color: var(--danger)
    }

    .bd-callout-danger h4 {
    color: var(--danger)
    }

    .bd-callout-primary{
        border-left-color: var(--primary)
    }

    .bd-callout-primaryh4 {
    color: var(--primary)
    }

    .bd-callout-success{
    border-left-color: var(--success)
    }

    .bd-callout-successh4 {
    color: var(--success)
    }

    .bd-callout-default{
    border-left-color: var(--default)
    }

    .bd-callout-defaulth4 {
    color: var(--default)
    }
